# IDEs
.idea
*.iml
*.ipr
*.iws
out
.settings
.classpath
.project
.metadata
bin
*.launch
eclipse

# Gradle
.gradle
build

# Minecraft Run Data
run
run-data
run/*
run-data/*
*.log
*.log.gz

# OS specific
.DS_Store
Thumbs.db

# Forge MDK leftovers
forge*changelog.txt