# This is an example mods.toml file. It contains the data relating to the loading mods.
# There are several mandatory fields (#mandatory), and many more that are optional (#optional).
# The overall format is standard TOML format, v0.5.0.
# Note that there are a couple of TOML lists in this file.
# Find more information on toml format here:  https://github.com/toml-lang/toml

# The name of the mod loader type to load - for regular FML @Mod mods it should be javafml
modLoader="javafml" #mandatory

# A version range to match for said mod loader - for regular FML @Mod it will be the Forge version
loaderVersion="[47,)" #mandatory This is typically bumped every Minecraft version by Forge. See our download page for lists of versions.

# The license for your mod. This is mandatory metadata and allows for easier comprehension of your redistributive properties.
# Review your options at https://choosealicense.com/. All rights reserved is the default copyright stance, and is thus the default here.
license="All Rights Reserved" # Change this if you use a different license.

# A URL to refer people to when problems occur with this mod
issueTrackerURL="https://github.com/odinj2010/StickyResources/issues" #optional

# If your mod is purely client-side and has no multiplayer functionality (be it dedicated servers or Open to LAN),
# set this to true, and Forge will set the correct displayTest for you and skip loading your mod on dedicated servers.
#clientSideOnly=true #optional - defaults to false if absent

# A list of mods - how many allowed here is determined by the individual mod loader
[[mods]] #mandatory

# The modid of the mod
modId="sticky_resources" #mandatory

# The version number of the mod
version="1.0.2-1.20.1" #mandatory

# A display name for the mod
displayName="Sticky Resources" #mandatory

# A URL to query for updates for this mod. See the JSON update specification https://docs.minecraftforge.net/en/latest/misc/updatechecker/
#updateJSONURL="https://your.update.url/" #optional

# A URL for the "homepage" for this mod, displayed in the mod UI
displayURL="https://www.curseforge.com/minecraft/mc-mods/sticky-resources" #optional

# A file name (in the root of the mod JAR) containing a logo for display
logoFile="sticky_resources_logo.png" #optional

# A text field displayed in the mod UI
credits="Special thanks to: NFGAnarchy, narutodin" #optional

# A text field displayed in the mod UI
authors="NFGOdin" #optional

# Display Test controls the display for your mod in the server connection screen
# MATCH_VERSION means that your mod will cause a red X if the versions on client and server differ. This is the default behavior and should be what you choose if you have server and client elements to your mod.
# IGNORE_SERVER_VERSION means that your mod will not cause a red X if it's present on the server but not on the client. This is what you should use if you're a server-only mod.
# IGNORE_ALL_VERSION means that your mod will not cause a red X if it's present on the client or the server. This is a special case and should only be used if your mod has no server component.
# NONE means that no display test is set on your mod. You need to do this yourself, see IExtensionPoint.DisplayTest for more information. You can define any scheme you wish with this value.
# IMPORTANT NOTE: this is NOT an instruction as to which environments (CLIENT or DEDICATED SERVER) your mod loads on. Your mod should load (and maybe do nothing!) wherever it finds itself.
#displayTest="MATCH_VERSION" # if nothing is specified, MATCH_VERSION is the default when clientSideOnly=false, otherwise IGNORE_ALL_VERSION when clientSideOnly=true (#optional)

# The description text for the mod (multi-line!) (#mandatory)
description = """
Welcome to the world of Sticky Resources, a comprehensive overhaul of the Minecraft ecosystem through the lens of the Jellies. Discover more then 35 unique species of gelatinous creatures, each with their own complex behaviors, emotional states, and environmental roles.

Key Features:

* Advanced Evolution System: Transform your Jellies through diverse paths. Feed them catalysts, breed unique hybrids like the Cake or Cow Jellies, or witness natural transformations such as Stone Jellies weathering into Cobblestone in the rain or Gravel Jellies shattering into Sand from great falls.

* Utility & Automation: Harness the power of specialized Jellies. Magnet Jellies act as living vacuums for your farms, while Redstone and Electric Jellies serve as mobile, stable power sources for your contraptions.

* Unique Interactions: Interact with the world in new ways. Milk Cow Jellies, cook food over Fire Jellies, or walk across oceans with the Ice Jelly's frost-walking ability.

* Dynamic Social AI: Jellies aren't just mobs; they're a society. Watch as they form herds, follow Alpha Leaders, and react emotionally to their surroundings. Manage their happiness to boost productivity or watch them flee in fear from threats.

* The Jelly-dex: Track your progress and discover hidden secrets through a dedicated advancement tree designed to guide you through every discovery.


Prepare to adapt your survival strategies and embrace the sticky side of Minecraft!
"""

# A dependency - use the . to indicate dependency for a specific modid. Dependencies are optional.
[[dependencies.sticky_resources]] #optional

# The modid of the dependency
modId="forge" #mandatory

# Does this dependency have to exist - if not, ordering below must be specified
mandatory=true #mandatory

# The version range of the dependency
versionRange="[47,)" #mandatory

# An ordering relationship for the dependency - BEFORE or AFTER required if the dependency is not mandatory
# BEFORE - This mod is loaded BEFORE the dependency
# AFTER - This mod is loaded AFTER the dependency
ordering="NONE"

# Side this dependency is applied on - BOTH, CLIENT, or SERVER
side="BOTH"

# Here's another dependency
[[dependencies.sticky_resources]]

# The modid of the dependency
modId="minecraft"

# Does this dependency have to exist - if not, ordering below must be specified
mandatory=true

# This version range declares a minimum of the current Minecraft version up to but not including the next major version
versionRange="[1.20.1,1.21)"

# An ordering relationship for the dependency - BEFORE or AFTER required if the dependency is not mandatory
ordering="NONE"

# Side this dependency is applied on - BOTH, CLIENT, or SERVER
side="BOTH"

# Features are specific properties of the game environment that you may want to declare you require.
# This example declares that your mod requires GL version 3.2 or higher.
# Other features will be added
